{% extends "base.html" %}

{% block main %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Prediction Input:</h5>
                <div>Gender: <span id="g"></span></div>
                <div>Age: <span id="a"></span></div>
                <div>Height: <span id="h"></span></div>
                <div>Weight: <span id="w"></span></div>
                <div>Family History with overweight: <span id="FHWO"></span></div>
                <div>Frequent consumption of high caloric food: <span id="FAVC"></span></div>
                <div>Frequency of consumption of vegetables: <span id="FCVC"></span></div>
                <div>Number of main meals: <span id="NCP"></span></div>
                <div>Consumption of food between meals: <span id="CAEC"></span></div>
                <div>Smoke: <span id="s"></span></div>
                <div>Consumption of water daily: <span id="CH2O"></span></div>
                <div>Calories consumption monitoring: <span id="SCC"></span></div>
                <div>Physical activity frequency: <span id="FAF"></span></div>
                <div>Time using technology devices: <span id="TUE"></span></div>
                <div>Consumption of alcohol: <span id="CALC"></span></div>
                <div>Means of transport: <span id="MTRANS"></span></div>

                <h5 class="pt-3">Prediction Classification:</h5>
                <div id="prediction"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/results" role="button">View DB</a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Obesity Level Prediction</h1>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select name="Gender" id="gender" required>
                        <option value=0>Female</option>
                        <option value=1>Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" step="1" class="form-control" id="age" placeholder="20" required>
                </div>
                <div class="form-group">
                    <label for="height">Height</label>
                    <input type="number" step="0.01" class="form-control" id="height" placeholder="1.70" required>
                </div>
                <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="number" step="0.1" class="form-control" id="weight" placeholder="72.2" required>
                </div>
                <div class="form-group">
                    <label for="family_history_with_overweight">Family History with overweight</label>
                    <select name="Family History with overweight" id="family_history_with_overweight" required>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="frequent_consumption_of_high_caloric_food">Frequent consumption of high caloric food</label>
                    <select name="Frequent consumption of high caloric food" id="frequent_consumption_of_high_caloric_food" required>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="frequency_of_consumption_of_vegetables">Frequency of consumption of vegetables</label>
                    <input type="number" step="1" class="form-control" id="frequency_of_consumption_of_vegetables" placeholder="2" required>
                </div>
                <div class="form-group">
                    <label for="number_of_main_meals">Number of main meals</label>
                    <input type="number" step="1" class="form-control" id="number_of_main_meals" placeholder="3" required>
                </div>
                <div class="form-group">
                    <label for="consumption_of_food_between_meals">Consumption of food between meals</label>
                    <select name="Consumption of food between meals" id="consumption_of_food_between_meals" required>
                        <option value=0>No</option>
                        <option value=1>Sometimes</option>
                        <option value=2>Frequently</option>
                        <option value=3>Always</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="smoke">Smoke</label>
                    <select name="Smoke" id="smoke" required>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="consumption_of_water_daily">Consumption of water daily</label>
                    <input type="number" step="1" class="form-control" id="consumption_of_water_daily" placeholder="2" required>
                </div>
                <div class="form-group">
                    <label for="calories_consumption_monitoring">Calories consumption monitoring</label>
                    <select name="Calories consumption monitoring" id="calories_consumption_monitoring" required>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="physical_activity_frequency">Physical activity frequency</label>
                    <input type="number" step="1" class="form-control" id="physical_activity_frequency" placeholder="2" required>
                </div>
                <div class="form-group">
                    <label for="time_using_technology_devices">Time using technology devices</label>
                    <input type="number" step="1" class="form-control" id="time_using_technology_devices" placeholder="1" required>
                </div>
                <div class="form-group">
                    <label for="consumption_of_alcohol">Consumption of alcohol</label>
                    <select name="Consumption of alcohols" id="consumption_of_alcohol" required>
                        <option value=0>No</option>
                        <option value=1>Sometimes</option>
                        <option value=2>Frequently</option>
                        <option value=3>Always</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="means_of_transport">Means of transport</label>
                    <select name="Means of transport" id="means_of_transport" required>
                        <option value=0>Automobile</option>
                        <option value=1>Bike</option>
                        <option value=2>Motorbike</option>
                        <option value=3>Public Transportation</option>
                        <option value=4>Walking</option>
                    </select>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "predict:submit_prediction" %}',
            data:{
                gender:$('#gender').val(),
                age:$('#age').val(),
                height:$('#height').val(),
                weight:$('#weight').val(),
                family_history_with_overweight:$('#family_history_with_overweight').val(),
                frequent_consumption_of_high_caloric_food:$('#frequent_consumption_of_high_caloric_food').val(),
                frequency_of_consumption_of_vegetables:$('#frequency_of_consumption_of_vegetables').val(),
                number_of_main_meals:$('#number_of_main_meals').val(),
                consumption_of_food_between_meals:$('#consumption_of_food_between_meals').val(),
                smoke:$('#smoke').val(),
                consumption_of_water_daily:$('#consumption_of_water_daily').val(),
                calories_consumption_monitoring:$('#calories_consumption_monitoring').val(),
                physical_activity_frequency:$('#physical_activity_frequency').val(),
                time_using_technology_devices:$('#time_using_technology_devices').val(),
                consumption_of_alcohol:$('#consumption_of_alcohol').val(),
                means_of_transport:$('#means_of_transport').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("g").innerHTML = json['gender']
                document.getElementById("a").innerHTML = json['age']
                document.getElementById("h").innerHTML = json['height']
                document.getElementById("w").innerHTML = json['weight']
                document.getElementById("FHWO").innerHTML = json['family_history_with_overweight']
                document.getElementById("FAVC").innerHTML = json['frequent_consumption_of_high_caloric_food']
                document.getElementById("FCVC").innerHTML = json['frequency_of_consumption_of_vegetables']
                document.getElementById("NCP").innerHTML = json['number_of_main_meals']
                document.getElementById("CAEC").innerHTML = json['consumption_of_food_between_meals']
                document.getElementById("s").innerHTML = json['smoke']
                document.getElementById("CH2O").innerHTML = json['consumption_of_water_daily']
                document.getElementById("SCC").innerHTML = json['calories_consumption_monitoring']
                document.getElementById("FAF").innerHTML = json['physical_activity_frequency']
                document.getElementById("TUE").innerHTML = json['time_using_technology_devices']
                document.getElementById("CALC").innerHTML = json['consumption_of_alcohol']
                document.getElementById("MTRANS").innerHTML = json['means_of_transport']
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>

{% endblock %}